---
// src/pages/blog/[p...slug].astro

import "../../styles/global.css";
import { getCollection, type CollectionEntry } from "astro:content";
import Toc from "../../components/table-of-contest.astro";
import FormattedDate from "../../components/formatted-date.astro";

type Props = CollectionEntry<"blog">;

export const getStaticPaths = async () => {
	const entries = await getCollection("blog");
	return entries.map((entry) => ({
		params: { slug: entry.slug, title: entry.data.title },
		props: entry,
	}));
};

const entry = Astro.props;
const { Content, headings } = await entry.render();
---

<main class="prose">
	<h1>{entry.data.title}</h1>
	<FormattedDate date={entry.data.date} />
	<Toc headings={headings} />
	<Content />
</main>

<style>
	main {
		scroll-behavior: smooth;
	}
</style>
